body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 2;
  color:#777777;
  background-image:url("../images/");
  background-repeat:repeat;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.entireContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}




#stickyFooter {
  color:#fff;
  background-color:#894021;
  background-image:url("../images/woodgrain.jpg");
  background-size: cover;
  border-top: 6px solid #4A2A09;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
