/* -----BODY DEFAULTS----- */

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 2;
  color:#777777;
  background-image:url("../images/");
  background-repeat:repeat;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


/* -----BASIC FRAMEWORK CSS----- */

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.row-vert {
  flex-direction: column;
  position: absolute;
  top: 0;
  height: 100%;
}

.right-align {
  justify-content: flex-end;
}

.left-align {
  justify-content: flex-start;
}

.split {
  justify-content: space-between;
}

.col-6 {
  width: 100%;
}

.col-4 {
  width: 66.6666%;
}

.col-3 {
  width: 50%;
}

.col-2 {
  width: 33.3333%;
}

.col-1 {
  width: 16.6666%;
}

/* -----ELEMENT CSS----- */


main {
    margin: 0 10px 0 10px;

}


header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* -----FIXED COMPONENTS----- */

.entireContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.gameBoard {
  display: flex;
  flex-direction: column;
}

.arena {
  position: relative;
}

#battlefield {
  height: 100%;
  position: absolute;
  border: solid 3px #00086C;
  border-radius: 10%;
  margin-top: 40px;
  flex: 1;
  right: 0;
  bottom: 0;
}

#attack {
  width: 90px;
  height: 40px;
  background-color: #C80004;
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin: 30px 10%;
  align-self: flex-start;
}

#charQ {
  display: flex;
  flex-direction: row;
  width: 33.3333%;
  align-self: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
}

#enemySection {
  display: flex;
  flex-direction:; row;
  width: 33.3333%;
  align-self: flex-end;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 20px;
}

#stickyFooter {
  color:#fff;
  background-color:#894021;
  background-size: cover;
  border-top: 6px solid #4A2A09;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

/* ---Character Buttons */

.cntrPwr {
  border: solid 1px black;
  height: 20px;
  background-color: white;
  z-index: 5;
  align-self: flex-end;
  border-radius: 0 5px 0 0;
}

.hitPts {
  align-self: flex-end;
  background-color: white;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  border: solid 1px black;
  border-radius: 0 0 5px 0;
}

/* -----MOVEABLE COMPONENTS----- */

.charBtn {
  height: 120px;
  border: solid 3px #0000CB;
  border-radius: 10%;
  display: flex;
  padding: 0;
  position: relative;
  background-color: #89B577;
}

.charName {
  color: white;
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-size: 2.5em;
}

.cntrPwr,
.hitPts {
  color: black;

}

.enemyBtn {
  height: 120px;
  border: solid 3px #0000CB;
  border-radius: 10%;
  display: flex;
  padding: 0;
  position: relative;
  background-color: #B02312;

}

#enemyBase {
  height: 200px;
  display: block;
}

#heroBase {
  height: 200px;
  display: block;
}

